* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  src: url("SourceSansPro-Regular.ttf");
  font-family: moj;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: moj;
  position: relative;
}

body .fix {
  position: fixed;
  top: 0;
}

body .fix ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  -webkit-transition: .4s;
  transition: .4s;
}

body .fix ul li a:hover {
  color: #35e0ec;
}

body a {
  text-decoration: none;
  color: #9ca0b1;
}

body .non {
  margin-left: 42px;
}

@media (max-width: 992px) {
  body .non {
    text-align: center;
    margin: 0%;
  }
}

@media (max-width: 380px) {
  body .non {
    margin-top: 0%;
    padding-top: 0%;
    font-size: 1.7em;
  }
}

body .glow {
  color: #fff;
  font-size: 1.4em;
  font-family: 'ubuntu';
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Josefin Sans',sans-serif;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #18dbd2), color-stop(50%, cyan), color-stop(60%, #5bdaff));
  background: linear-gradient(to right, #18dbd2 20%, cyan 50%, #5bdaff 60%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: textclip 1.5s linear infinite;
          animation: textclip 1.5s linear infinite;
  display: inline-block;
}

@media (max-width: 992px) {
  body .glow {
    font-size: 1em;
  }
}

@media (max-width: 630px) {
  body .glow {
    font-size: 0.8em;
  }
}

@media (max-width: 504px) {
  body .glow {
    font-size: 0.6em;
  }
}

@-webkit-keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.gla {
  text-decoration: none;
}

.side {
  background-color: #29bbc0;
  padding-top: 1%;
}

.side li a {
  color: whitesmoke;
  font-size: 1.1em;
  text-decoration: none;
}

body {
  font-family: moj;
}

body .sneak1 {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/header.png");
  background-size: cover;
}

@media (max-width: 992px) {
  body .sneak1 .sneak2 .row .firstcol {
    margin: 10% 0%;
  }
}

body .sneak1 .sneak2 .row .firstcol #content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .sneak1 .sneak2 .row .firstcol #content1 h1 {
  font-size: 2.8em;
  padding: 5% 0%;
}

@media (max-width: 1200px) {
  body .sneak1 .sneak2 .row .firstcol #content1 h1 {
    font-size: 2.3em;
  }
}

@media (max-width: 992px) {
  body .sneak1 .sneak2 .row .firstcol #content1 h1 {
    padding: 0%;
  }
}

@media (max-width: 480px) {
  body .sneak1 .sneak2 .row .firstcol #content1 h1 {
    font-size: 1.8em;
  }
}

@media (max-width: 380px) {
  body .sneak1 .sneak2 .row .firstcol #content1 h1 {
    font-size: 2.2em;
    text-align: center;
  }
}

body .sneak1 .sneak2 .row .firstcol #content1 p {
  font-size: 1.8em;
  padding: 5% 0%;
  font-weight: bold;
}

@media (max-width: 1200px) {
  body .sneak1 .sneak2 .row .firstcol #content1 p {
    font-size: 1.5em;
  }
}

@media (max-width: 380px) {
  body .sneak1 .sneak2 .row .firstcol #content1 p {
    padding: 10% 0%;
  }
}

body .sneak1 .sneak2 .row .firstcol #content1 .tet {
  font-family: Roboto, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 50px;
  -webkit-box-shadow: rgba(108, 39, 255, 0.3) 0px 0px 15px;
          box-shadow: rgba(108, 39, 255, 0.3) 0px 0px 15px;
  text-align: center;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#0ba9ff), color-stop(51%, #56d9ff), to(#0ba9ff)) 0% 0%/200%;
  background: linear-gradient(to right, #0ba9ff 0%, #56d9ff 51%, #0ba9ff 100%) 0% 0%/200%;
  padding: 4% 10%;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 1200px) {
  body .sneak1 .sneak2 .row .firstcol #content1 .tet {
    padding: 6% 15%;
  }
}

@media (max-width: 992px) {
  body .sneak1 .sneak2 .row .firstcol #content1 .tet {
    padding: 4% 10%;
  }
}

@media (max-width: 480px) {
  body .sneak1 .sneak2 .row .firstcol #content1 .tet {
    padding: 6% 13%;
  }
}

@media (max-width: 380px) {
  body .sneak1 .sneak2 .row .firstcol #content1 .tet {
    padding: 8% 13%;
  }
}

body .sneak1 .sneak2 .row .firstcol #content1 .tet:hover {
  background-position: right center;
  color: #fff;
}

body .sneak1 .sneak2 .row .secondcol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  body .sneak1 .sneak2 .row .secondcol {
    margin-top: 15%;
  }
}

@media (max-width: 576px) {
  body .sneak1 .sneak2 .row .secondcol {
    display: none;
  }
}

body .sneak1 .sneak2 .row .secondcol #image1 {
  width: 100%;
}

@media (max-width: 992px) {
  body .sneak1 .sneak2 .row .secondcol #image1 {
    width: 60%;
  }
}

body .sneak1 .sneak2 .row .secondcol #image1 img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: moj;
}

body .section2 {
  margin: 5% 0%;
}

body .section2 .sectioncont .cols .pan {
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  body .section2 .sectioncont .cols .pan {
    margin: 5% 0%;
  }
}

body .section2 .sectioncont .cols .pan:hover {
  -webkit-box-shadow: 0 0 50px rgba(153, 153, 153, 0.3);
          box-shadow: 0 0 50px rgba(153, 153, 153, 0.3);
}

body .section2 .sectioncont .cols .pan h4 {
  color: #36cae4;
  padding: 8% 0%;
}

body .section2 .sectioncont .cols .pan p {
  font-family: moj;
  font-size: 1.3em;
  padding-bottom: 8%;
}

@media (max-width: 992px) {
  body .section2 .sectioncont .cols .pan p {
    text-align: justify;
  }
}

@media (max-width: 380px) {
  body .section2 .sectioncont .cols .pan p {
    font-size: 1.1em;
  }
}

body .section2 .sectioncont .cols .pan a {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  width: 50%;
  padding: 7% 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  body .section2 .sectioncont .cols .pan a {
    width: 20%;
    padding: 3% 0%;
  }
}

@media (max-width: 768px) {
  body .section2 .sectioncont .cols .pan a {
    width: 30%;
    padding: 4% 0%;
  }
}

@media (max-width: 380px) {
  body .section2 .sectioncont .cols .pan a {
    width: 40%;
    padding: 6% 0%;
  }
}

body .section2 .sectioncont .cols .pan a:hover {
  background-color: #34b1c7;
}

body {
  font-family: moj;
}

body .section3 {
  margin: 8% 0%;
  width: 100%;
}

body .section3 .col3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  body .section3 .col3 {
    margin-bottom: 15%;
  }
}

@media (max-width: 480px) {
  body .section3 .col3 {
    margin: 20% 0%;
  }
}

body .section3 .col3 h2 {
  font-size: 3em;
  color: #32adcc;
}

@media (max-width: 504px) {
  body .section3 .col3 h2 {
    font-size: 2.5em;
  }
}

@media (max-width: 480px) {
  body .section3 .col3 h2 {
    font-size: 2.2em;
  }
}

@media (max-width: 380px) {
  body .section3 .col3 h2 {
    font-size: 2.5em;
    text-align: center;
  }
}

body .section3 .col3 p {
  padding: 10% 5%;
  text-align: center;
  font-size: 2em;
}

@media (max-width: 1200px) {
  body .section3 .col3 p {
    font-size: 1.8em;
  }
}

@media (max-width: 504px) {
  body .section3 .col3 p {
    font-size: 1.5em;
  }
}

body .section3 .col3 a {
  font-family: Roboto, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 50px;
  -webkit-box-shadow: rgba(108, 39, 255, 0.3) 0px 0px 15px;
          box-shadow: rgba(108, 39, 255, 0.3) 0px 0px 15px;
  text-align: center;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#0ba9ff), color-stop(51%, #56d9ff), to(#0ba9ff)) 0% 0%/200%;
  background: linear-gradient(to right, #0ba9ff 0%, #56d9ff 51%, #0ba9ff 100%) 0% 0%/200%;
  padding: 4% 10%;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 480px) {
  body .section3 .col3 a {
    padding: 6% 12%;
  }
}

body .section3 .col3 a:hover {
  background-position: right center;
  color: #fff;
}

body .section3 .col4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 0px;
}

@media (max-width: 992px) {
  body .section3 .col4 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body .section3 .col4 .sec3img {
  width: 100%;
}

@media (max-width: 992px) {
  body .section3 .col4 .sec3img {
    width: 80%;
  }
}

body .section3 .col4 .sec3img img {
  max-width: 100%;
  height: auto;
}

body .section4 {
  margin: 10% 0%;
}

body .section4 h2 {
  text-align: center;
  padding: 7% 0%;
  font-size: 3em;
  color: #29abd3;
}

body .section4 .card0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
}

@media (max-width: 992px) {
  body .section4 .card0 {
    height: 150px;
  }
}

@media (max-width: 768px) {
  body .section4 .card0 {
    height: 180px;
    margin: 5% 0%;
  }
}

@media (max-width: 767px) {
  body .section4 .card0 {
    height: 220px;
  }
}

body .section4 .card0:hover {
  -webkit-box-shadow: 0 0 50px rgba(153, 153, 153, 0.6);
          box-shadow: 0 0 50px rgba(153, 153, 153, 0.6);
}

body .section4 .card0 p {
  font-size: 1.7em;
}

@media (max-width: 992px) {
  body .section4 .card0 p {
    font-size: 1.5em;
  }
}

body .section4 .card0 .logoHold {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50%;
}

@media (max-width: 767px) {
  body .section4 .card0 .logoHold {
    width: 30%;
  }
}

body .section4 .card0 .logoHold img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: moj;
}

body .footer {
  color: white;
  position: absolute;
}

body .footer .footer90 {
  margin: 5% 0%;
}

body .footer .sec5cont .soc2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  body .footer .sec5cont .soc2 {
    margin: 10% 0%;
  }
}

body .footer .sec5cont .soc2 #socials {
  width: 80%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 480px) {
  body .footer .sec5cont .soc2 #socials {
    width: 100%;
  }
}

@media (max-width: 380px) {
  body .footer .sec5cont .soc2 #socials {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

body .footer .sec5cont .soc2 #socials a {
  font-size: 2.5em;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 480px) {
  body .footer .sec5cont .soc2 #socials a {
    font-size: 2em;
  }
}

body .footer .sec5cont .soc2 #socials a:hover {
  color: #2bb6c9;
}

body .footer .sec5cont .soc3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .footer .sec5cont .soc3 .news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  body .footer .sec5cont .soc3 .news {
    width: 100%;
  }
}

body .footer .sec5cont .soc3 .news label {
  color: #2bbfd3;
  font-size: 2em;
}

body .footer .sec5cont .soc3 .news #news1 {
  margin: 20% 0%;
}

@media (max-width: 992px) {
  body .footer .sec5cont .soc3 .news #news1 {
    width: 40%;
    margin: 10% 0%;
  }
}

@media (max-width: 380px) {
  body .footer .sec5cont .soc3 .news #news1 {
    width: 70%;
    margin: 18% 0%;
  }
}

body .footer .sec5cont .soc3 .news a {
  background-color: #009999;
}

body .footer .sec5cont .colfinal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  body .footer .sec5cont .colfinal {
    margin-top: 7%;
  }
}

body .footer .sec5cont .colfinal #menu2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 80%;
}

@media (max-width: 480px) {
  body .footer .sec5cont .colfinal #menu2 {
    width: 100%;
  }
}

body .footer .sec5cont .colfinal #menu2 p:first-child {
  font-size: 2em;
}

body .footer .sec5cont .colfinal #menu2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3% 0%;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 992px) {
  body .footer .sec5cont .colfinal #menu2 ul {
    width: 80%;
  }
}

@media (max-width: 768px) {
  body .footer .sec5cont .colfinal #menu2 ul {
    width: 100%;
    margin-bottom: 8%;
  }
}

body .footer .sec5cont .colfinal #menu2 ul li a {
  font-size: 1.3em;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 380px) {
  body .footer .sec5cont .colfinal #menu2 ul li a {
    font-size: 1.1em;
  }
}

body .footer .sec5cont .colfinal #menu2 ul li a:hover {
  color: #2bb6c9;
}

/* Galerija */
.gallery {
  margin: 10% 0%;
}

.gallery h2 {
  text-align: center;
  font-size: 3.5em;
  color: #37a2c2;
  font-weight: bold;
}

@media (max-width: 992px) {
  .gallery h2 {
    padding: 8% 0%;
  }
}

@media (max-width: 480px) {
  .gallery h2 {
    padding-top: 14%;
  }
}

@media (max-width: 380px) {
  .gallery h2 {
    font-size: 2.8em;
    padding-top: 17%;
  }
}

.gallery .tain .firstRow h2 {
  text-align: center;
  font-size: 3.5em;
  padding: 7% 0%;
  color: #2f93c2;
  font-weight: bold;
  font-family: moj;
}

.gallery .tain .secondRow .holders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery .tain .secondRow .holders .background1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 3px solid #2e9cb8;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

@media (max-width: 576px) {
  .gallery .tain .secondRow .holders .background1 {
    margin: 5% 0%;
  }
}

.gallery .tain .secondRow .holders .background1:hover {
  -webkit-box-shadow: 0 0 50px rgba(18, 167, 226, 0.8);
          box-shadow: 0 0 50px rgba(18, 167, 226, 0.8);
}

.gallery .tain .secondRow .holders .background1 img {
  max-width: 100%;
  height: auto;
}

/* */
body .sneaker {
  margin: 10% 0%;
}

body .sneaker .sneakerHolder .row1 .hol123 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  body .sneaker .sneakerHolder .row1 .hol123 {
    margin: 8% 0%;
  }
}

@media (max-width: 504px) {
  body .sneaker .sneakerHolder .row1 .hol123 {
    margin: 15% 0%;
  }
}

@media (max-width: 380px) {
  body .sneaker .sneakerHolder .row1 .hol123 {
    margin: 25% 0%;
  }
}

body .sneaker .sneakerHolder .row1 .hol123 .specialHolder {
  width: 100%;
}

body .sneaker .sneakerHolder .row1 .hol123 .specialHolder img {
  max-width: 100%;
  height: auto;
}

body .sneaker .sneakerHolder .row1 .hol234 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .sneaker .sneakerHolder .row1 .hol234 h2 {
  font-size: 4em;
  color: #2d86c2;
  font-weight: bold;
}

@media (max-width: 380px) {
  body .sneaker .sneakerHolder .row1 .hol234 h2 {
    font-size: 3em;
  }
}

body .sneaker .sneakerHolder .row1 .hol234 p {
  font-size: 2em;
}

@media (max-width: 992px) {
  body .sneaker .sneakerHolder .row1 .hol234 p {
    padding: 8% 0%;
  }
}

body .sneaker .sneakerHolder .row1 .hol234 .prices2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  body .sneaker .sneakerHolder .row1 .hol234 .prices2 {
    margin-bottom: 15%;
  }
}

@media (max-width: 576px) {
  body .sneaker .sneakerHolder .row1 .hol234 .prices2 {
    width: 100%;
  }
}

body .sneaker .sneakerHolder .row1 .hol234 .prices2 a {
  background-color: #cdcdcd;
  width: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .sneaker .sneakerHolder .row1 .hol234 .prices2 a:hover {
  color: #33aab9;
}

body .sneaker .sneakerHolder .row1 .hol234 .prices2 .priceMid {
  background-color: #c2c2c2;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .sneaker .sneakerHolder .row1 .hol234 .prices2 .priceMid p {
  margin-bottom: 0%;
}

body .sneaker .sneakerHolder .row1 .hol234 a {
  background-color: #3797ce;
  padding: 5% 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .sneaker .sneakerHolder .row2 .ended {
  margin: 10% 0%;
}

body .sneaker .sneakerHolder .row2 .ended h2 {
  text-align: center;
  color: #8c8c96;
  font-size: 3em;
  padding-bottom: 8%;
}

body .sneaker .sneakerHolder .row2 .ended p {
  font-size: 1.4em;
}

@media (max-width: 480px) {
  body .sneaker .sneakerHolder .row2 .ended p {
    font-size: 1.2em;
  }
}

body .sneaker .sneakerHolder .row2 .ended #modalP {
  text-align: center;
  padding: 6% 0%;
}

body .sneaker .sneakerHolder .row2 .ended .mod1 {
  background-color: #37adc2;
  display: block;
  margin: 0px auto;
  width: 20%;
}

@media (max-width: 504px) {
  body .sneaker .sneakerHolder .row2 .ended .mod1 {
    width: 40%;
  }
}

body .sneaker .sneakerHolder .row2 .ended .mod2 {
  background-color: whitesmoke;
  width: 80%;
}

body .sneaker .sneakerHolder .row2 .ended .mod2 h4 {
  font-size: 2.5em;
  padding: 5% 0%;
  text-align: center;
}

body .sneaker .sneakerHolder .row2 .ended .mod2 .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2% 0%;
}

body .sneaker .sneakerHolder .row2 .ended .mod2 .comment p {
  text-align: center;
}

@media (max-width: 992px) {
  body .sneaker .sneakerHolder .row2 .ended .mod2 .comment p {
    padding: 1% 0%;
  }
}

@media (max-width: 992px) {
  body .sneaker .sneakerHolder .row2 .ended .mod2 .comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 5% 0%;
  }
}

body .sneaker .sneakerHolder .row2 .ended .mod2 .mod4 a {
  display: block;
  margin: 0px auto;
}

body .aboutMe {
  margin: 10% 0%;
}

@media (max-width: 992px) {
  body .aboutMe .aboutMe1 .desc1 {
    margin: 20% 0%;
  }
}

body .aboutMe .aboutMe1 .desc1 h2 {
  text-align: center;
  font-size: 3em;
  color: #3394c0;
  padding-bottom: 7%;
}

body .aboutMe .aboutMe1 .desc1 p {
  font-size: 1.4em;
  text-align: justify;
  padding: 0% 5%;
}

@media (max-width: 380px) {
  body .aboutMe .aboutMe1 .desc1 p {
    font-size: 1.2em;
  }
}

body .aboutMe .aboutMe1 .desc2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .aboutMe .aboutMe1 .desc2 .aboutPicture {
  width: 100%;
}

body .aboutMe .aboutMe1 .desc2 .aboutPicture img {
  max-width: 100%;
  height: auto;
}

body .aboutMe .aboutMe1 .aboutSecond {
  margin: 20% 0%;
}

body .aboutMe .aboutMe1 .aboutSecond .desc3 h2 {
  text-align: center;
  font-size: 3em;
  color: #3394c0;
  padding-bottom: 7%;
}

body .aboutMe .aboutMe1 .aboutSecond .desc3 p {
  font-size: 1.4em;
  text-align: center;
}

@media (max-width: 380px) {
  body .aboutMe .aboutMe1 .aboutSecond .desc3 p {
    font-size: 1.2em;
  }
}

@media (max-width: 992px) {
  body .aboutMe .aboutMe1 .aboutThird .desc4 {
    margin-bottom: 15%;
  }
}

body .aboutMe .aboutMe1 .aboutThird .desc4 h2 {
  text-align: center;
  font-size: 3em;
  color: #3394c0;
  padding-bottom: 7%;
}

body .aboutMe .aboutMe1 .aboutThird .desc4 p {
  font-size: 1.4em;
  text-align: justify;
  padding: 5% 0%;
}

@media (max-width: 992px) {
  body .aboutMe .aboutMe1 .aboutThird .desc4 p {
    text-align: center;
    font-size: 1.2em;
  }
}

body .aboutMe .aboutMe1 .aboutThird .desc4 .faIcons {
  width: 60%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .aboutMe .aboutMe1 .aboutThird .desc4 .faIcons a {
  font-size: 1.8em;
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .aboutMe .aboutMe1 .aboutThird .desc4 .faIcons a:hover {
  color: #268dbd;
}

body .aboutMe .aboutMe1 .aboutThird .desc5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .aboutMe .aboutMe1 .aboutThird .desc5 .myPicture {
  width: 80%;
}

@media (max-width: 992px) {
  body .aboutMe .aboutMe1 .aboutThird .desc5 .myPicture {
    width: 70%;
  }
}

body .aboutMe .aboutMe1 .aboutThird .desc5 .myPicture img {
  max-width: 100%;
  height: auto;
}

body .con {
  margin: 10% 0%;
}

@media (max-width: 992px) {
  body .con {
    margin: 20% 0%;
  }
}

@media (max-width: 504px) {
  body .con {
    margin: 35% 0%;
  }
}

body .con .contain h2 {
  text-align: center;
  padding-bottom: 5%;
  font-size: 3em;
  color: #358ec2;
}

@media (max-width: 504px) {
  body .con .contain h2 {
    padding-bottom: 15%;
  }
}

@media (max-width: 480px) {
  body .con .contain h2 {
    font-size: 2.7em;
  }
}

@media (max-width: 380px) {
  body .con .contain h2 {
    font-size: 2.2em;
  }
}

body .con .contain .kolona form .col {
  margin: 1% 0%;
}

body .con .contain .kolona form .textCol {
  padding-bottom: 5%;
}

body .con .contain .kolona form .submitButton {
  display: block;
  margin: 0% auto;
  width: 15%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3da8c9;
  -webkit-transition: 1s;
  transition: 1s;
}

body .con .contain .kolona form .submitButton:hover {
  background-color: #99ffff;
}

@media (max-width: 992px) {
  body .con .contain .kolona form .submitButton {
    width: 25%;
  }
}

@media (max-width: 504px) {
  body .con .contain .kolona form .submitButton {
    width: 40%;
  }
}

@media (max-width: 380px) {
  body .con .contain .kolona form .submitButton {
    width: 50%;
  }
}

/* label color */
.input-field label {
  color: #34aabe;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #34aabe;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #21acc5;
  -webkit-box-shadow: 0 1px 0 0 #21acc5;
          box-shadow: 0 1px 0 0 #21acc5;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #20b4be;
}
/*# sourceMappingURL=style.css.map */